.postsContainer {
  padding: 1rem;

  .post {
    width: 100%;
    margin-bottom: 3rem;

    h1 {
      font-size: 1.75rem;
      font-weight: 700;

      color: var(--gray-300);
      margin-bottom: 0.5rem;
    }

    > p {
      font-size: 1.125rem;

      color: var(--gray-500);

      margin-bottom: 1.563rem;
    }

    div {
      display: flex;
      align-items: center;

      p {
        display: flex;
        align-items: center;

        & + p {
          margin-left: 1.5rem;
        }

        svg {
          font-size: 1.25rem;
          margin-right: 0.5rem;
          color: var(--gray-600);
        }

        span {
          color: var(--gray-600);
        }
      }
    }
  }
}
